<h1><%= @blogger.name %> (<%= @blogger.age %>)</h1>
<h3>Likes: <%= @blogger.total_likes %></h3>
<h3><%= @blogger.bio %></h3>

<h3>Featured Post: <%= link_to @blogger.featured_post.title, post_path(@blogger.featured_post) %></h3>

<%= button_to "Back to All Bloggers", bloggers_path, method: :get %>
<%= button_to "Delete", nil, method: :delete %>
